<link rel="import" href="../helper-components/digital-joystick.html">

<dom-module id="direction-joystick-view">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      digital-joystick {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
    
    <digital-joystick
      input="[[computeInput(directionJoystick)]]"
      output="{{joystickOutput}}"
    >
    </digital-joystick>
  </template>

  <script>
    class directionJoystickView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'direction-joystick-view'; }
      static get properties() {
        return {
          directionJoystick: {
            statePath: 'movement.directionJoystick',
          },
          joystickOutput: {
            observer: 'observeJoystickOutput'
          }
        };
      }
      
      observeJoystickOutput(newValue) {
        if (newValue.xShift === this.directionJoystick.x &&
            newValue.yShift === this.directionJoystick.y) return;
        
        store.dispatch({
          type: "MOVEMENT_DIRECTION_JOYSTICK_VALUES_CHANGED",
          payload: {
            x: newValue.xShift,
            y: newValue.yShift
          }
        });
      }
      
      computeInput(directionJoystick) {
        return { xShift: directionJoystick.x, yShift: directionJoystick.y };
      }

    }
    window.customElements.define(directionJoystickView.is, directionJoystickView);
  </script>
</dom-module>