<dom-module id="movement-controller-view">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 15px;
        box-sizing: border-box;
      }
      p {
        margin-left: 1em;
        margin-right: 1em;
      }
      fieldset {
        width: 95%;
        box-sizing: border-box;
        margin: 10px auto;
        border-width: 0px;
        border-style: hidden;
      }
      select {
        overflow: hidden;
        outline: none;
        text-align: center;
        vertical-align: middle;
        font-family: 'Open Sans', sans-serif;
        border: 1px solid #ebebeb;
        font-size: 12px;
      }
    </style>
    
    <fieldset>
      <legend>Generator settings:</legend>
      <p>
        <label>
          <input type="checkbox" checked="[[sequencerEnabled]]" value="sequencerEnabled" on-click="handleCheckboxChange" /> Sequencer Enabled
        </label>
      </p>
      <p>
        <label>
          <input type="checkbox" checked="[[loop]]" value="loop" on-click="handleCheckboxChange" /> Loop sequencer
        </label>
      </p>
      <p>
        Gait:
        <select size="4" on-change="handleSelectChanged" value="[[gait]]">
          <option value="ripple">Ripple</option>
          <option value="rippleReversed">Ripple reversed</option>
          <option value="tripod">Tripod</option>
          <option value="tripodReversed">Tripod reversed</option>
        </select>
      </p>
    </fieldset>
    <fieldset>
      <legend>Iteration settings:</legend>
      <p>
        <input type="text" data-state-key="tps" value="[[tps]]" size="8" on-change="handleInputChanged" /> Ticks per second (tps): 
      </p>
      <p>
        <input type="text" data-state-key="duration" value="[[duration]]" size="8" on-change="handleInputChanged" /> Iteration duration (ms): 
      </p>
      <p>
        <input type="text" value="[[amountOfTicks]]" disabled size="8" /> Amount of ticks in iteration: 
      </p>
    </fieldset>

  </template>

  <script>
    class movementControllerView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'movement-controller-view'; }
      static get properties() {
        return {
          sequencerEnabled: {
            statePath: 'movement.settings.sequencerEnabled'
          },
          loop: {
            statePath: 'movement.settings.loop'
          },
          gait: {
            statePath: 'movement.settings.gait'
          },
          tps: {
            statePath: 'movement.iteration.tps'
          },
          duration: {
            statePath: 'movement.iteration.duration'
          },
          amountOfTicks: {
            statePath: 'movement.iteration.amountOfTicks'
          }
        };
      }
      
      handleCheckboxChange(e) {
        store.dispatch({
          type: "MOVEMENT_SETTINGS_CHANGED",
          payload: { [e.target.value]: e.target.checked }
        });
      }
      
      handleSelectChanged(e) {
        // if not the same we already have
        if (this.gait !== e.target.value) {
          // then dispatch it
          store.dispatch({
            type: "MOVEMENT_SETTINGS_CHANGED",
            payload: { gait: e.target.value }
          });
        }
      }
      
      handleInputChanged(e) {
        // input value
        let value = +e.target.value;
        
        // if NaN
        if (value !== value) {
          console.warn('Incorrect input value');
          return;
        }
        
        store.dispatch({
          type: "MOVEMENT_SETTINGS_CHANGED",
          payload: { [e.target.dataset.stateKey]: value }
        });
      }

    }
    window.customElements.define(movementControllerView.is, movementControllerView);
  </script>
</dom-module>