<link rel="import" href="relative-sagittal-view/relative-sagittal-view-ui.html">
<link rel="import" href="../helper-components/view-cursor.html">
<link rel="import" href="../helper-components/view-leg-selector.html">

<dom-module id="relative-sagittal-view">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      :host([side=left]) .center-point {
        left: 0px;
      }
      :host([side=right]) .center-point {
        right: 0px;
      }
      .center-point {
        position: absolute;
        top: 50%;
        width: 0px;
        height: 0px;
      }
      .center-point::after {
        content: '';
        display: inline-block;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: black;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      .settings {
        position: absolute;
        top: 16px;
        right: 50px;
        color: rgba(69, 68, 83, 0.7);
        cursor: pointer;
        z-index: 1;
      }
      .settings:hover {
        color: #454453;
      }
    </style>
    
    <!-- settings icon -->
    <div class="settings" on-click="showSettingsDialog">☰</div>
    
    <div class="center-point">
      <relative-sagittal-view-ui
        xy="[[computeXY(coords, offsetX, useScaling, scaling)]]"
        side="[[side]]"
        femur-length="[[scaleInput(metaData.femurLength, useScaling, scaling)]]"
        tibia-length="[[scaleInput(metaData.tibiaLength, useScaling, scaling)]]"
        reach-radius="[[scaleInput(metaData.combinedLegsLength, useScaling, scaling)]]"
        impossible-range="[[scaleInput(metaData.impossibleRange, useScaling, scaling)]]"
        femur-screen-angle="[[computeFemurAngle(angles.femurScreenAngle)]]"
        tibia-screen-angle="[[computeTibiaAngle(angles.tibiaScreenAngle)]]"
        distance-line="[[computeDistanceLine(misc, useScaling, scaling)]]"
        boundary-ball="[[computeBoundaryBall(misc, offsetX, useScaling,  scaling)]]"
        transverse-reach-points="[[computeTransverseReachPoints(misc, offsetX, useScaling, scaling)]]"
        output="{{baseOutput}}">
      </relative-sagittal-view-ui>
      
      <view-cursor
        side="[[side]]"
        xy="[[computeCursorXY(coords.sagittalCursorX, coords.sagittalCursorY, offsetX, useScaling, scaling)]]"
        output={{cursorOutput}}>
      </view-cursor>
    </div>
    
    <view-leg-selector 
      position="left"
      leg-id="[[legId]]"
      output="{{selectorOutput}}">
    </view-leg-selector>
  </template>

  <script>
    class relativeSagittalView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'relative-sagittal-view'; }
      static get properties() {
        return {
          // outgoing properties
          legId: {
            statePath: 'viewSettings.relativeSagittalView.legId'
          },
          metaData: {
            statePath: 'metaData',
          },
          coords: {
            statePath(state) {
              return state.coords[this.legId];
            }
          },
          angles: {
            statePath(state) {
              return state.angles[this.legId];
            }
          },
          misc: {
            statePath(state) {
              return state.misc[this.legId];
            }
          },
          scaling: {
            statePath: 'viewSettings.relativeSagittalView.scaling'
          },
          useScaling: {
            statePath: 'viewSettings.relativeSagittalView.useScaling'
          },
          useOffsets: {
            statePath: 'viewSettings.relativeSagittalView.useOffsets'
          },
          offsetX: {
            computed: 'computeOffsetX(useOffsets, baseCenterCoords, legId)'
          },
          side: {
            computed: 'computeSide(legId)',
            reflectToAttribute: true
          },
          baseCenterCoords: {
            statePath: 'base.centerCoords'
          },
          // incoming properties
          cursorOutput: {
            observer: 'observeCursorOutput'
          },
          baseOutput: {
            observer: 'observeBaseOutput'
          },
          selectorOutput: {
            observer: 'observeSelectorOutput'
          }
        };
      }
      
      observeCursorOutput(newValue) {
        store.dispatch({
          type: "CURSOR_XY_SHIFTED",
          legId: this.legId,
          payload: {
            sagittalCursorX: this.scaleOutput(newValue.x),
            sagittalCursorY: this.scaleOutput(newValue.y)
          }
        });
      }
      
      observeBaseOutput(newValue) {
        store.dispatch({
          type: "BASE_XY_SHIFTED",
          legId: this.legId,
          payload: {
            sagittalBaseX: this.scaleOutput(newValue.x),
            sagittalBaseY: this.scaleOutput(newValue.y)
          }
        });
      }
      
      observeSelectorOutput(newValue) {
        store.dispatch({
          type: "RELATIVE_SAGITTAL_VIEW_SETTINGS_CHANGED",
          payload: { legId: newValue.value }
        });
      }
      
      computeDistanceLine(misc) {
        return {
          distance: this.scaleInput(misc.sagittalDistance),
          angle: misc.sagittalAngle 
        };
      }
      
      computeBoundaryBall(misc, offsetX) {
        return {
          x: this.scaleInput(misc.sagittalBoundaryBallCoords.x + offsetX),
          y: this.scaleInput(misc.sagittalBoundaryBallCoords.y)
        };
      }
      
      computeTransverseReachPoints(misc, offsetX) {
        return {
          endX: this.scaleInput(misc.transverseReachCoords.endX + offsetX),
          endY: this.scaleInput(misc.transverseReachCoords.endY),
          // beginningX: this.scaleInput(misc.transverseReachCoords.beginningX + offsetX),
          // beginningY: this.scaleInput(misc.transverseReachCoords.beginningY),
          possibleX: this.scaleInput(misc.transverseReachCoords.possibleX + offsetX),
          possibleY: this.scaleInput(misc.transverseReachCoords.possibleY),
          transverseReachRadius: this.scaleInput(misc.transverseReachCoords.endX - misc.transverseReachCoords.possibleX)
        };
      }
      
      computeXY(coords, offsetX) {
        return {
          x: this.scaleInput(coords.sagittalBaseX + offsetX),
          y: this.scaleInput(coords.sagittalBaseY)
        };
      }
      
      computeCursorXY(x, y, offsetX) {
        return {
          x: this.scaleInput(x + offsetX),
          y: this.scaleInput(y)
        }
      }
      
      computeSide(legId) {
        return GU.getLegSide(legId);
      }
      
      computeFemurAngle(femurAngle) {
        if (this.side === 'right') femurAngle = MU.flipNumber(femurAngle);
        
        return femurAngle;
      }
      
      computeTibiaAngle(tibiaAngle) {
        if (this.side === 'right') tibiaAngle = MU.flipNumber(tibiaAngle);
        
        return tibiaAngle;
      }
      
      scaleOutput(val) {
        if (this.useScaling)
          val = MU.scaleUpOutput(this.scaling, val);
        
        return val;
      }
      
      scaleInput(val) {
        if (this.useScaling)
          val = MU.scaleDownInput(this.scaling, val);
          
        return val;
      }
      
      computeOffsetX(useOffsets, baseCenterCoords) {
        // do not use offsets
        if (!this.useOffsets) return 0;
        
        var dist = MU.getDistance(this.coords.transverseBaseX - baseCenterCoords.x, this.coords.transverseBaseY - baseCenterCoords.y);
        
        return dist - this.coords.sagittalBaseX;
      }
      
      showSettingsDialog() {
        window.dispatchEvent(new CustomEvent('open-settings-dialog', { detail: 'relative-sagittal-view' }));
      }
 
    }
    window.customElements.define(relativeSagittalView.is, relativeSagittalView);
  </script>
</dom-module>