<link rel="import" href="relative-transverse-view/relative-transverse-view-ui.html">
<link rel="import" href="../helper-components/view-cursor.html">
<link rel="import" href="../helper-components/view-leg-selector.html">

<dom-module id="relative-transverse-view">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      :host([side=left]) .center-point {
        left: 0px;
      }
      :host([side=right]) .center-point {
        right: 0px;
      }
      :host([row=front]) .center-point {
        bottom: 0px;
      }
      :host([row=middle]) .center-point {
        top: 50%;
      }
      :host([row=back]) .center-point {
        top: 0px;
      }
      .center-point {
        position: absolute;
        width: 0px;
        height: 0px;
      }
      .center-point::after {
        content: '';
        display: inline-block;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: black;
        position: absolute;
        transform: translate(-50%, -50%);
      }
      .settings {
        position: absolute;
        top: 16px;
        right: 50px;
        color: rgba(69, 68, 83, 0.7);
        cursor: pointer;
        z-index: 1;
      }
      .settings:hover {
        color: #454453;
      }
    </style>
    
    <!-- settings icon -->
    <div class="settings" on-click="showSettingsDialog">☰</div>
    
    <div class="center-point">
      <relative-transverse-view-ui
        base-coords="[[computeBaseCoords(coords, viewOffsets, useScaling, scaling, useOffsets)]]"
        reach-radius="[[scaleInput(misc.transverseReachRadius, useScaling, scaling)]]"
        coxa-screen-angle="[[computeCoxaScreenAngle(angles.coxaScreenAngle, useOffsets)]]"
        impossible-range="[[scaleInput(metaData.impossibleRange, useScaling, scaling)]]"
        leg-length="[[scaleInput(misc.transverseLegLength, useScaling, scaling)]]"
        movement-center-coords="[[computeMovementCenterCoords(movementCircle, viewOffsets, useScaling, scaling, useOffsets)]]"
        movement-circle-diameter="[[scaleInput(movementCircle.solidDiameter, useScaling, scaling)]]"
        movement-pointer="[[computeMovementPointer(movementPointer, viewOffsets, useScaling, scaling, useOffsets)]]"
        base-coxa-angle="[[computeBaseCoxaAngle(baseDirection, baseCoxaAttachmentAngle, useOffsets)]]"
        output="{{baseOutput}}"
      >
      </relative-transverse-view-ui>
      
      <view-cursor
        side="left"
        cursor-coords="[[computeCursorCoords(coords.transverseCursorX, coords.transverseCursorY, viewOffsets, useScaling, scaling, useOffsets)]]"
        output="{{cursorOutput}}"
      >
      </view-cursor>
    </div>
    
    <view-leg-selector 
      position="left"
      leg-id="[[legId]]"
      output="{{selectorOutput}}"
    >
    </view-leg-selector>
  </template>

  <script>
    class relativeTransverseView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'relative-transverse-view'; }
      static get properties() {
        return {
          // outgoing properties
          legId: {
            statePath: 'viewSettings.relativeTransverseView.legId'
          },
          metaData: {
            statePath: 'metaData',
          },
          viewOffsets: {
            statePath(state) {
              return state.viewOffsets[this.legId];
            }
          },
          movementCircle: {
            statePath(state) {
              return state.movement.circles[this.legId];
            }
          },
          misc: {
            statePath(state) {
              return state.misc[this.legId];
            }
          },
          baseDirection: {
            statePath: 'base.direction'
          },
          baseCoxaAttachmentAngle: {
            statePath(state) {
              return state.base.coxaAttachmentAngles[this.legId];
            }
          },
          coords: {
            statePath(state) {
              return state.coords[this.legId];
            }
          },
          angles: {
            statePath(state) {
              return state.angles[this.legId];
            }
          },
          movementPointer: {
            statePath(state) {
              return state.movement.pointers[this.legId];
            }
          },
          side: {
            computed: 'computeSide(legId)',
            reflectToAttribute: true
          },
          row: {
            computed: 'computeRow(legId)',
            reflectToAttribute: true
          },
          useScaling: {
            statePath: 'viewSettings.relativeTransverseView.useScaling'
          },
          scaling: {
            statePath: 'viewSettings.relativeTransverseView.scaling'
          },
          useOffsets: {
            statePath: 'viewSettings.relativeTransverseView.useOffsets'
          },
          // incoming properties
          cursorOutput: {
            observer: 'observeCursorOutput'
          },
          baseOutput: {
            observer: 'observeBaseOutput'
          },
          selectorOutput: {
            observer: 'observeSelectorOutput'
          }
        };
      }
      
      observeCursorOutput(newValue, oldValue) {
        store.dispatch({
          type: "CURSOR_XY_SHIFTED",
          legId: this.legId,
          payload: {
            transverseCursorX: this.scaleOutput(newValue.x),
            transverseCursorY: this.scaleOutput(newValue.y)
          }
        });
      }
      
      observeBaseOutput(newValue, oldValue) {
        store.dispatch({
          type: "BASE_XY_SHIFTED",
          legId: this.legId,
          payload: {
            transverseBaseX: this.scaleOutput(newValue.x),
            transverseBaseY: this.scaleOutput(newValue.y),
          }
        });
      }
      
      observeSelectorOutput(newValue) {
        store.dispatch({
          type: "RELATIVE_TRANSVERSE_VIEW_SETTINGS_CHANGED",
          payload: { legId: newValue.value }
        });
      }
      
      computeCoxaScreenAngle(coxaAngle) {
        return coxaAngle - this.getAngleOffset();
      }
      
      computeMovementCenterCoords(movementCircle) {
        var coords = {
          x: this.scaleInput(movementCircle.fluentX + this.getOffset('x')),
          y: this.scaleInput(movementCircle.fluentY + this.getOffset('y')),
        };
        
        return this.getOffsetRotatedCoords(coords);
      }
      
      computeBaseCoords(coords) {
        return {
          x: this.scaleInput(coords.transverseBaseX + this.getOffset('x')),
          y: this.scaleInput(coords.transverseBaseY + this.getOffset('y'))
        };
      }
      
      computeCursorCoords(x, y) {
        var coords = {
          x: this.scaleInput(x + this.getOffset('x')),
          y: this.scaleInput(y + this.getOffset('y'))
        };
        
        return this.getOffsetRotatedCoords(coords);
      }
      
      computeMovementPointer(movementPointer) {
        var coords = {
          x: this.scaleInput(movementPointer.x + this.getOffset('x')),
          y: this.scaleInput(movementPointer.y + this.getOffset('y'))
        };
        
        return this.getOffsetRotatedCoords(coords);
      }
      
      computeBaseCoxaAngle(baseDirection, baseCoxaAttachmentAngle) {
        return baseDirection + baseCoxaAttachmentAngle - this.getAngleOffset();
      }
      
      computeSide(legId) {
        return GU.getLegSide(legId);
      }
      
      computeRow(legId) {
        return GU.getLegRow(legId);
      }
      
      scaleOutput(val) {
        // do not use scaling. return the val back
        if (!this.useScaling) return val;
        
        return MU.scaleUpOutput(this.scaling, val);
      }
      
      scaleInput(val) {
        // do not use scaling. return the val back
        if (!this.useScaling) return val;
        
        return MU.scaleDownInput(this.scaling, val);
      }
      
      getOffset(coord) {
        // do not use offsets
        if (!this.useOffsets) return 0;
        
        switch (coord) {
          case 'x':
            return this.viewOffsets.transverseX;
          case 'y':
            return this.viewOffsets.transverseY;
        }
      }
      
      getOffsetRotatedCoords(coords) {
        // if useOffsets is false then return the coords back
        if (!this.useOffsets) return coords;
        
        var rotationBaseCoords = this.computeBaseCoords(this.coords),
            rotationAngle = MU.flipNumber(this.baseDirection);
        
        return MU.rotateCoords(rotationBaseCoords, coords, rotationAngle);
      }
      
      getAngleOffset() {
        // do not use offsets
        if (!this.useOffsets) return 0;
        
        return this.baseDirection;
      }
      
      showSettingsDialog() {
        window.dispatchEvent(new CustomEvent('open-settings-dialog', { detail: 'relative-transverse-view' }));
      }

    }
    window.customElements.define(relativeTransverseView.is, relativeTransverseView);
  </script>
</dom-module>