<dom-module id="sagittal-view-base">
  <template>
    <style>
      #base {
        height: 1px;
        width: 1px;
        position: absolute;
      }
      :host([side=left]) #base {
        right: initial !important;
      }
      :host([side=right]) #base {
        left: initial !important;
      }
      #base::after {
        content: '';
        background: rgba(0, 0, 255, 0.25);
        width: 20px;
        height: 20px;
        display: inline-block;
        transform: translate(-50%,-50%);
        border-radius: 100%;
      }
      .femur {
        position: absolute;
        top: 0px;
        height: 1px;
        background-color: black;
        z-index: 1;
        pointer-events: none;
      }
      :host([side=left]) .femur {
        transform-origin: left;
        left: 0px;
      }
      :host([side=right]) .femur {
        transform-origin: right;
        right: 0px;
      }
      .tibia {
        height: 1px;
        background-color: black;
        position: absolute;
        top: 0px;
      }
      :host([side=left]) .tibia {
        transform-origin: left;
        left: 100%;
      }
      :host([side=right]) .tibia {
        transform-origin: right;
        right: 100%;
      }
      .reachRadius {
        background-color: rgba(255, 0, 0, 0.04);
        display: inline-block;
        transform: translate(0%, -50%);
        position: absolute;
        pointer-events: none;
      }
      :host([side=left]) .reachRadius {
        border-bottom-left-radius: initial !important;
        border-top-left-radius: initial !important;
        left: 0px;
      }
      :host([side=right]) .reachRadius {
        border-bottom-right-radius: initial !important;
        border-top-right-radius: initial !important;
        right: 0px;
      }
      .baseInvalidRange {
        background-color: white;
        border-radius: 100%;
        position: absolute;
        border: 1px solid transparent;
        transform: translate(-50%, -50%) rotateZ(-45deg);
        pointer-events: none;
        box-sizing: border-box;
      }
      :host([side=left]) .baseInvalidRange {
        border-right-color: red;
        border-bottom-color: red;
      }
      :host([side=right]) .baseInvalidRange {
        border-left-color: red;
        border-top-color: red;
      }
      .distanceLine {
        border-top: 1px dashed black;
        position: absolute;
      }
      :host([side=left]) .distanceLine {
        transform-origin: left;
        left: 0px;
      }
      :host([side=right]) .distanceLine {
        transform-origin: right;
        right: 0px;
      }
      .transverseReachEnd, .transverseReachBeginning, .boundaryBall {
        background-color: black;
        height: 10px;
        width: 10px;
        display: inline-block;
        position: absolute;
        border-radius: 100%;
      }
      :host([side=left]) .transverseReachEnd,
      :host([side=left]) .transverseReachBeginning,
      :host([side=left]) .boundaryBall {
        transform: translate(-50%, -50%);
        right: initial !important;
      }
      :host([side=right]) .transverseReachEnd,
      :host([side=right]) .transverseReachBeginning,
      :host([side=right]) .boundaryBall {
        transform: translate(50%, -50%);
        left: initial !important;
      }
      .floor {
        display: inline-block;
        border-top: 1px dashed rgba(255, 0, 0, 0.5);
        width: 100%;
        position: absolute;
      }
      .transverseReachLine {
        border-top: 2px dotted green;
        top: 50%;
        position: absolute;
      }
      :host([side=left]) .transverseReachLine {
        left: 50%;
      }
      :host([side=right]) .transverseReachLine {
        right: 50%;
      }
    </style>
    
    <div id="base" style$="[[computeBase(x, y, side)]]">
      <div class="femur" style$="[[computeFemur(femurLength, femurScreenAngle, side)]]">
        <div class="tibia" style$="[[computeTibia(tibiaLength, tibiaScreenAngle, side)]]"></div>
      </div>
      
      <div class="reachRadius" style$="[[computeReachRadius(reachRadius, side)]]"></div>
      <div class="baseInvalidRange" style$="[[computeBaseInvalidRange(impossibleRange)]]"></div>
      
      <div class="distanceLine" style="[[computeDistanceLine(distanceLine, side)]]"></div>
    </div>
    
    <!-- floor level line -->
    <div class="floor" style$="top: [[floorLevel]]px;"></div>
    
    <div class="transverseReachEnd" style$="[[computeTransverseReachEnd(transverseReachPoints, side)]]"></div>
    <div class="transverseReachBeginning" style$="[[computeTransverseReachBeginning(transverseReachPoints, side)]]">
      <div class="transverseReachLine" style$="width: [[transverseReachPoints.transverseReachRadius]]px;"></div>
    </div>
    
    <!-- circle boundary ball -->
    <div class="boundaryBall" style$="[[computeBoundaryBall(boundaryBall, side)]]"></div>
  </template>

  <script>
    class sagittalViewBase extends ReduxMixin(Polymer.Element) {
      static get is() { return 'sagittal-view-base'; }
      static get properties() {
        return {
          side: {
            reflectToAttribute: true
          },
          x: Number,
          y: Number,
          femurScreenAngle: Number,
          tibiaScreenAngle: Number,
          femurLength: Number,
          tibiaLength: Number,
          impossibleRange: Number,
          reachRadius: Number,
          distanceLine: Object,
          boundaryBall: Object,
          transverseReachPoints: Object,
          floorLevel: Number,
          output: {
            notify: true
          }
        };
      }
      
      connectedCallback() {
        super.connectedCallback();
        
        this.$.base.onmousedown = e => {
          this.clickCoords = {x: e.pageX,y: e.pageY};

          document.onmousemove = e => {
            let diffX = this.clickCoords.x - e.pageX;
            let diffY = this.clickCoords.y - e.pageY;
            
            // the position is the same
            if (diffX === 0 && diffY === 0) return;
            
            // filter out 0 value
            let payload = {};
            if (diffX !== 0) {
              switch (this.side) {
                case 'left':
                  payload.x = diffX; break;
                case 'right':
                  payload.x = -diffX; break;
              }
              this.clickCoords.x = e.pageX;
            }
            if (diffY !== 0) {
              payload.y = diffY;
              this.clickCoords.y = e.pageY;
            }
            
            // export data to the upper component
            this.output = payload;
            
            e.preventDefault();
            e.stopPropagation();
          };
          document.onmouseup = () => {
            document.onmousemove = null;
            document.onmouseup = null;
          }
          e.preventDefault();
          e.stopPropagation()
        }
      }
      
      computeBase(x, y, side) {
        switch (side) {
          case 'left':
            var x = `left: ${x}px;`; break;
          case 'right':
            var x = `right: ${x}px;`; break;
        }
        
        var y = `top: ${y}px;`;
        
        return x + y;
      }
      
      computeTibia(tibiaLength, tibiaScreenAngle, side) {
        var width = `width: ${tibiaLength}px;`;
        
        switch (side) {
          case 'left':
            var transform = `transform: rotate(${tibiaScreenAngle}deg);`; break;
          case 'right':
            var transform = `transform: rotate(${MU.flipNumber(tibiaScreenAngle)}deg);`; break;
        }
        
        return width + transform;
      }
      
      computeReachRadius(reachRadius, side) {
        switch (side) {
          case 'left':
            var borderTopX = `border-top-right-radius: ${reachRadius * 2}px;`,
                borderBottomX = `border-bottom-right-radius: ${reachRadius * 2}px;`;
            break;
          case 'right':
            var borderTopX = `border-top-left-radius: ${reachRadius * 2}px;`,
                borderBottomX = `border-bottom-left-radius: ${reachRadius * 2}px;`;
            break;
        }
        
        var width = `width: ${reachRadius}px;`,
            height = `height: ${reachRadius * 2}px;`;
        
        return width + height + borderTopX + borderBottomX;
      }
      
      computeBaseInvalidRange(impossibleRange) {
        var width = `width: ${impossibleRange * 2}px;`,
            height = `height: ${impossibleRange * 2}px;`;
        
        return width + height;
      }
      
      computeDistanceLine(distanceLine, side) {
        var width = `width: ${distanceLine.distance}px;`;
        
        switch (side) {
          case 'left':
            var transform = `transform: rotate(${distanceLine.angle}deg);`; break;
          case 'right':
            var transform = `transform: rotate(-${distanceLine.angle}deg);`; break;
        }
        
        return width + transform;
      }
      
      computeFemur(femurLength, femurScreenAngle, side) {
        var width = `width: ${femurLength}px;`;
        
        switch (side) {
          case 'left':
            var transform = `transform: rotate(${femurScreenAngle}deg);`; break;
          case 'right':
            var transform = `transform: rotate(${MU.flipNumber(femurScreenAngle)}deg);`; break;
        }
        
        return width + transform;
      }
      
      computeBoundaryBall(boundaryBall, side) {
        switch (side) {
          case 'left':
            var x = `left: ${boundaryBall.x}px;`; break;
          case 'right':
            var x = `right: ${boundaryBall.x}px;`; break;
        }
        
        var y = `top: ${boundaryBall.y}px;`;
        
        return x + y;
      }
      
      computeTransverseReachBeginning(transverseReachPoints, side) {
        switch (side) {
          case 'left':
            var x = `left: ${transverseReachPoints.possibleX}px;`; break;
          case 'right':
            var x = `right: ${transverseReachPoints.possibleX}px;`; break;
        }
        
        var y = `top: ${transverseReachPoints.possibleY}px;`;
        
        return x + y;
      }
      
      computeTransverseReachEnd(transverseReachPoints, side) {
        switch (side) {
          case 'left':
            var x = `left: ${transverseReachPoints.endX}px;`; break;
          case 'right':
            var x = `right: ${transverseReachPoints.endX}px;`; break;
        }
        
        var y = `top: ${transverseReachPoints.endY}px;`;
        
        return x + y;
      }

    }
    window.customElements.define(sagittalViewBase.is, sagittalViewBase);
  </script>
</dom-module>