<link rel="import" href="../../../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../helper-components/digital-joystick.html">

<dom-module id="tilt-modifier-view">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      digital-joystick {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    </style>
    
    <digital-joystick
      extend-output
      input="[[computeInput(tiltModifier)]]"
      output="{{joystickOutput}}">
    </digital-joystick>
  </template>

  <script>
    class tiltModifierView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'tilt-modifier-view'; }
      static get properties() {
        return {
          tiltModifier: {
            statePath: 'modifiers.tilt',
          },
          joystickOutput: {
            observer: 'observeJoystickOutput'
          }
        };
      }
      
      observeJoystickOutput(newValue) {
        if (newValue.bottom === this.tiltModifier.backTiltModifier &&
            newValue.top === this.tiltModifier.frontTiltModifier &&
            newValue.left === this.tiltModifier.leftTiltModifier &&
            newValue.right === this.tiltModifier.rightTiltModifier) return;
        
        store.dispatch({
          type: "TILT_MODIFIER_CHANGED",
          payload: {
            backTiltModifier: newValue.bottom,
            frontTiltModifier: newValue.top,
            leftTiltModifier: newValue.left,
            rightTiltModifier: newValue.right
          }
        });
      }
      
      computeInput(tiltModifier) {
        return { xShift: tiltModifier.leftTiltModifier, yShift: tiltModifier.frontTiltModifier };
      }

    }
    window.customElements.define(tiltModifierView.is, tiltModifierView);
  </script>
</dom-module>