<dom-module id="transverse-animation-view">
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
      }
      .viewCenterPoint, .baseCenterPoint {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0px;
        height: 0px
      }
      .viewCenterPoint::after, .baseCenterPoint::after {
        content: '';
        display: inline-block;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        background-color: black;
        position: absolute;
        transform: translate(-50%,-50%);
      }
      .baseCenterPoint .baseDirection {
        border-left: 1px dotted;
        height: 100px;
        position: absolute;
        bottom: 0px;
        transform-origin: bottom;
      }
      .base {
        height: 20px;
        width: 20px;
        display: inline-block;
        background-color: rgba(0, 0, 255, 0.25);
        position: absolute;
        border-radius: 100%;
      }
      .base.left {
        transform: translate(-50%,-50%);
      }
      .base.right {
        transform: translate(50%,-50%);
      }
      .cursor {
        height: 20px;
        width: 20px;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.35);
        position: absolute;
        border-radius: 100%;
      }
      .cursor.left {
        transform: translate(-50%,-50%);
      }
      .cursor.right {
        transform: translate(50%,-50%);
      }
      #spoder {
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .coxa {
        display: inline-block;
        border-top: 1px solid;
        position: absolute;
        top: 50%;
      }
      .movementPointer {
        height: 20px;
        width: 20px;
        display: inline-block;
        background-color: rgba(0, 128, 0, 0.35);
        position: absolute;
        border-radius: 100%;
      }
      .movementPointer.left {
        transform: translate(-50%,-50%);
      }
      .movementPointer.right {
        transform: translate(50%,-50%);
      }
      .movementCircleCenter,
      .unturnedCircleCenter {
        position: absolute;
        height: 0px;
        width: 0px;
      }
      .movementCircleCenter::after,
      .unturnedCircleCenter::after {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        transform: translate(-50%, -50%);
        background-color: black;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
      }
      .movementCircle {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.03);
        transform: translate(-50%, -50%);
        border-radius: 100%;
        border: 1px solid rgba(255, 0, 0, 0.25);
        box-sizing: border-box;
      }
      .unturnedMovementCircle {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.1);
        transform: translate(-50%, -50%);
        border-radius: 100%;
      }
      .fluentTransverseBase {
        height: 20px;
        width: 20px;
        display: inline-block;
        background-color: rgba(0, 0, 255, 0.08);
        position: absolute;
        border-radius: 100%;
      }
      .fluentTransverseBase.left {
        transform: translate(-50%,-50%);
      }
      .fluentTransverseBase.right {
        transform: translate(50%,-50%);
      }
      [hidden] {
        display: none;
      }
    </style>
    
    <label style="position:absolute;"><input type="checkbox" checked="{{useOffsets::change}}" /> Use offsets</label>
    
    <div id="spoder">
      <div class="viewCenterPoint">
        <div class="base leg1 left" style$="[[computeBase(coords.1, offsets.1, '1')]]">
          <div class="coxa" style$="[[computeCoxa(angles, '1', misc)]]"></div>
        </div>
        <div class="base leg2 left" style$="[[computeBase(coords.2, offsets.2, '2')]]">
          <div class="coxa" style$="[[computeCoxa(angles, '2', misc)]]"></div>
        </div>
        <div class="base leg3 left" style$="[[computeBase(coords.3, offsets.3, '3')]]">
          <div class="coxa" style$="[[computeCoxa(angles, '3', misc)]]"></div>
        </div>
        <div class="base leg4 left" style$="[[computeBase(coords.4, offsets.4, '4')]]">
          <div class="coxa" style$="[[computeCoxa(angles, '4', misc)]]"></div>
        </div>
        <div class="base leg5 left" style$="[[computeBase(coords.5, offsets.5, '5')]]">
          <div class="coxa" style$="[[computeCoxa(angles, '5', misc)]]"></div>
        </div>
        <div class="base leg6 left" style$="[[computeBase(coords.6, offsets.6, '6')]]">
          <div class="coxa" style$="[[computeCoxa(angles, '6', misc)]]"></div>
        </div>
        
        <div class="unturnedCircleCenter circle1 left"
             style$="left: [[movementCircles.1.solidX]]px; top: [[movementCircles.1.solidY]]px;"
             hidden="[[!movementCircles.1.solidX]]">
             <div class="unturnedMovementCircle circle1" style$="width: [[movementCircles.1.diameter]]px; height: [[movementCircles.1.diameter]]px;"></div>
        </div>
        <div class="unturnedCircleCenter circle2 left"
             style$="left: [[movementCircles.2.solidX]]px; top: [[movementCircles.2.solidY]]px;"
             hidden="[[!movementCircles.2.solidX]]">
             <div class="unturnedMovementCircle circle1" style$="width: [[movementCircles.2.diameter]]px; height: [[movementCircles.2.diameter]]px;"></div>
        </div>
        <div class="unturnedCircleCenter circle3 left"
             style$="left: [[movementCircles.3.solidX]]px; top: [[movementCircles.3.solidY]]px;"
             hidden="[[!movementCircles.3.solidX]]">
             <div class="unturnedMovementCircle circle1" style$="width: [[movementCircles.3.diameter]]px; height: [[movementCircles.3.diameter]]px;"></div>
        </div>
        <div class="unturnedCircleCenter circle4 left"
             style$="left: [[movementCircles.4.solidX]]px; top: [[movementCircles.4.solidY]]px;"
             hidden="[[!movementCircles.4.solidX]]">
             <div class="unturnedMovementCircle circle1" style$="width: [[movementCircles.4.diameter]]px; height: [[movementCircles.4.diameter]]px;"></div>
        </div>
        <div class="unturnedCircleCenter circle5 left"
             style$="left: [[movementCircles.5.solidX]]px; top: [[movementCircles.5.solidY]]px;"
             hidden="[[!movementCircles.5.solidX]]">
             <div class="unturnedMovementCircle circle1" style$="width: [[movementCircles.5.diameter]]px; height: [[movementCircles.5.diameter]]px;"></div>
        </div>
        <div class="unturnedCircleCenter circle6 left"
             style$="left: [[movementCircles.6.solidX]]px; top: [[movementCircles.6.solidY]]px;"
             hidden="[[!movementCircles.6.solidX]]">
             <div class="unturnedMovementCircle circle1" style$="width: [[movementCircles.6.diameter]]px; height: [[movementCircles.6.diameter]]px;"></div>
        </div>
        
        <div class="fluentTransverseBase leg1 left" 
             style$="left: [[movementCircles.1.fluentTransverseBaseX]]px; top: [[movementCircles.1.fluentTransverseBaseY]]px;"
             hidden="[[!movementCircles.1.fluentTransverseBaseX]]">
        </div>
        <div class="fluentTransverseBase leg2 left"
             style$="left: [[movementCircles.2.fluentTransverseBaseX]]px; top: [[movementCircles.2.fluentTransverseBaseY]]px;"
             hidden="[[!movementCircles.2.fluentTransverseBaseX]]">
        </div>
        <div class="fluentTransverseBase leg3 left"
             style$="left: [[movementCircles.3.fluentTransverseBaseX]]px; top: [[movementCircles.3.fluentTransverseBaseY]]px;"
             hidden="[[!movementCircles.3.fluentTransverseBaseX]]">
        </div>
        <div class="fluentTransverseBase leg4 left"
             style$="left: [[movementCircles.4.fluentTransverseBaseX]]px; top: [[movementCircles.4.fluentTransverseBaseY]]px;"
             hidden="[[!movementCircles.4.fluentTransverseBaseX]]">
        </div>
        <div class="fluentTransverseBase leg5 left"
             style$="left: [[movementCircles.5.fluentTransverseBaseX]]px; top: [[movementCircles.5.fluentTransverseBaseY]]px;"
             hidden="[[!movementCircles.5.fluentTransverseBaseX]]">
        </div>
        <div class="fluentTransverseBase leg6 left"
             style$="left: [[movementCircles.6.fluentTransverseBaseX]]px; top: [[movementCircles.6.fluentTransverseBaseY]]px;"
             hidden="[[!movementCircles.6.fluentTransverseBaseX]]">
        </div>
        
        <div class="cursor leg1 left" style$="[[computeCursor(coords, offsets, '1')]]"></div>
        <div class="cursor leg2 left" style$="[[computeCursor(coords, offsets, '2')]]"></div>
        <div class="cursor leg3 left" style$="[[computeCursor(coords, offsets, '3')]]"></div>
        <div class="cursor leg4 left" style$="[[computeCursor(coords, offsets, '4')]]"></div>
        <div class="cursor leg5 left" style$="[[computeCursor(coords, offsets, '5')]]"></div>
        <div class="cursor leg6 left" style$="[[computeCursor(coords, offsets, '6')]]"></div>
        
        <div class="movementPointer pointer1 left" style$="[[computeMovementPointer(movementPointers, offsets, '1')]]"></div>
        <div class="movementPointer pointer2 left" style$="[[computeMovementPointer(movementPointers, offsets, '2')]]"></div>
        <div class="movementPointer pointer3 left" style$="[[computeMovementPointer(movementPointers, offsets, '3')]]"></div>
        <div class="movementPointer pointer4 left" style$="[[computeMovementPointer(movementPointers, offsets, '4')]]"></div>
        <div class="movementPointer pointer5 left" style$="[[computeMovementPointer(movementPointers, offsets, '5')]]"></div>
        <div class="movementPointer pointer6 left" style$="[[computeMovementPointer(movementPointers, offsets, '6')]]"></div>
        
        <div class="movementCircleCenter circleCenter1" style$="[[computeCircleCenter(movementCircles, offsets, '1')]]">
          <div class="movementCircle circle1" style$="[[computeMovementCircle(movementCircles, '1')]]"></div>
        </div>
        <div class="movementCircleCenter circleCenter2" style$="[[computeCircleCenter(movementCircles, offsets, '2')]]">
          <div class="movementCircle circle1" style$="[[computeMovementCircle(movementCircles, '2')]]"></div>
        </div>
        <div class="movementCircleCenter circleCenter3" style$="[[computeCircleCenter(movementCircles, offsets, '3')]]">
          <div class="movementCircle circle1" style$="[[computeMovementCircle(movementCircles, '3')]]"></div>
        </div>
        <div class="movementCircleCenter circleCenter4" style$="[[computeCircleCenter(movementCircles, offsets, '4')]]">
          <div class="movementCircle circle1" style$="[[computeMovementCircle(movementCircles, '4')]]"></div>
        </div>
        <div class="movementCircleCenter circleCenter5" style$="[[computeCircleCenter(movementCircles, offsets, '5')]]">
          <div class="movementCircle circle1" style$="[[computeMovementCircle(movementCircles, '5')]]"></div>
        </div>
        <div class="movementCircleCenter circleCenter6" style$="[[computeCircleCenter(movementCircles, offsets, '6')]]">
          <div class="movementCircle circle1" style$="[[computeMovementCircle(movementCircles, '6')]]"></div>
        </div>
        
        <div class="baseCenterPoint" style$="left: [[baseCenterCoords.x]]px; top: [[baseCenterCoords.y]]px;">
          <div class="baseDirection" style$="transform: translateX(-50%) rotate([[baseDirection]]deg)"></div>
        </div>
      </div>
    </div>
  </template>

  <script>
    class transverseAnimationView extends ReduxMixin(Polymer.Element) {
      static get is() { return 'transverse-animation-view'; }
      static get properties() {
        return {
          baseCenterCoords: {
            statePath: 'base.centerCoords'
          },
          offsets: {
            statePath: 'viewOffsets'
          },
          coords: {
            statePath: 'coords'
          },
          angles: {
            statePath: 'angles'
          },
          movementCircles: {
            statePath: 'movement.circles'
          },
          misc: {
            statePath: 'misc'
          },
          scale: {
            type: Number,
            value: 0.6,
            observer: 'observeScale'
          },
          movementPointers: {
            statePath: 'movement.pointers'
          },
          useOffsets: {
            value: false
          },
          baseDirection: {
            statePath: 'base.direction'
          }
        };
      }
      
      computeBase(coords, offsets, legId) {
        if (this.useOffsets) {
          var x = `left: ${coords.transverseBaseX + offsets.transverseX}px;`;
          var y = `top: ${coords.transverseBaseY + offsets.transverseY}px;`;
        } else {
          var x = `left: ${coords.transverseBaseX}px;`;
          var y = `top: ${coords.transverseBaseY}px;`;
        }
        
        return x + y;
      }
      
      computeCursor(coords, offsets, legId) {        
        let x, y;
        if (this.useOffsets) {
          x = `left: ${coords[legId].transverseCursorX + offsets[legId].transverseX}px;`;
          y = `top: ${coords[legId].transverseCursorY + offsets[legId].transverseY}px;`;
        } else {
          x = `left: ${coords[legId].transverseCursorX}px;`;
          y = `top: ${coords[legId].transverseCursorY}px;`;
        }
        
        return x + y;
      }
      
      computeCoxa(angles, legId, misc) {
        let x, y, z;
        // if (GU.getLegSide(legId) === 'left') {
          y = 'transform-origin: left;';
          z = 'left: 50%;';
        // }
        // if (GU.getLegSide(legId) === 'right') {
        //   y = 'transform-origin: right;';
        //   z = 'right: 50%;';
        // } 
        
        x = `transform: rotate(${angles[legId].coxaScreenAngle}deg);`;
        
        let c = misc[legId].transverseLegLength;
        c = `width: ${c}px;`;
        
        return x + y + z + c;
      }
      
      computeMovementPointer(movementPointers, offsets, legId) {
        if (movementPointers[legId] === null) return;
        
        let x, y;
        if (this.useOffsets) {
          // switch (GU.getLegSide(legId)) {
          //   case 'left':
              x = `left: ${movementPointers[legId].x + offsets[legId].transverseX}px;`; //break;
          //   case 'right':
          //     x = `right: ${movementPointers[legId].x + offsets[legId].transverseX}px;`; break;
          // }
          y = `top: ${movementPointers[legId].y + offsets[legId].transverseY}px;`;
        } else {
          // switch (GU.getLegSide(legId)) {
          //   case 'left':
              x = `left: ${movementPointers[legId].x}px;`; //break;
          //   case 'right':
          //     x = `right: ${movementPointers[legId].x}px;`; break;
          // }
          y = `top: ${movementPointers[legId].y}px;`;
        }
        
        return x + y;
      }
      
      computeCircleCenter(movementCircles, offsets, legId) {
        let x, y;
        if (this.useOffsets) {
          // switch (GU.getLegSide(legId)) {
          //   case 'left':
              x = `left: ${movementCircles[legId].x + offsets[legId].transverseX}px;`; // break;
          //   case 'right':
          //     x = `right: ${movementCircles[legId].x + offsets[legId].transverseX}px;`; break;
          // }
          y = `top: ${movementCircles[legId].y + offsets[legId].transverseY}px;`;
        } else {
          // switch (GU.getLegSide(legId)) {
          //   case 'left':
              x = `left: ${movementCircles[legId].x}px;`; // break;
          //   case 'right':
          //     x = `right: ${movementCircles[legId].x}px;`; break;
          // }
          y = `top: ${movementCircles[legId].y}px;`;
        }
        
        return x + y;
      }
      
      computeMovementCircle(movementCircles, legId) {
        let width = `width: ${movementCircles[legId].diameter}px;`;
        let height = `height: ${movementCircles[legId].diameter}px;`;
        
        return width + height;
      }
      
      observeScale(scale) {
        this.$.spoder.style.transform = `scale(${scale})`;
      }

    }
    window.customElements.define(transverseAnimationView.is, transverseAnimationView);
  </script>
</dom-module>