<dom-module id="transverse-view-ui">
  <template>
    <style>
    .base-center-point {
      display: inline-block;
      position: absolute;
      width: 0px;
      height: 0px
    }
    .base-center-point::after {
      content: '';
      display: inline-block;
      border-radius: 100%;
      width: 6px;
      height: 6px;
      background-color: black;
      position: absolute;
      transform: translate(-50%,-50%);
    }
    .base-direction {
      border-left: 1px dotted;
      position: absolute;
      bottom: 0px;
      transform-origin: bottom;
    }
    .dot {
      position: absolute;
    }
    .dot::after {
      content: '';
      height: 10px;
      width: 10px;
      border-radius: 100%;
      position: absolute;
    }
    .cursor::after {
      background-color: rgba(255, 0, 0, 0.35);
      transform: translate(-50%,-50%);
    }
    .pointer::after {
      background-color: rgba(0, 128, 0, 0.35);
      transform: translate(-50%,-50%);
    }
    .base::after {
      background-color: rgba(0, 0, 255, 0.25);
      transform: translate(-50%,-50%);
    }
    .fluent-base::after {
      background-color: rgba(0, 0, 255, 0.08);
      transform: translate(-50%,-50%);
    }
    .circle-center,
    .solid-circle-center {
      position: absolute;
      height: 0px;
      width: 0px;
    }
    .circle-center::after,
    .solid-circle-center::after {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      transform: translate(-50%, -50%);
      background-color: black;
      border-radius: 100%;
      top: 50%;
      left: 50%;
      position: absolute;
    }
    .invalid-range {
      background-color: white;
      border-radius: 100%;
      position: absolute;
      border: 1px solid transparent;
      pointer-events: none;
      box-sizing: border-box;
      border-right-color: red;
      border-bottom-color: red;
      transform: translate(-50%,-50%);
    }
    .solid-circle {
      display: inline-block;
      background-color: rgba(255, 0, 0, 0.05);
      transform: translate(-50%, -50%);
      border-radius: 100%;
      box-sizing: border-box;
    }
    .circle {
      display: inline-block;
      background-color: rgba(255, 0, 0, 0.03);
      transform: translate(-50%, -50%);
      border-radius: 100%;
      border: 1px solid rgba(255, 0, 0, 0.25);
      box-sizing: border-box;
    }
    .leg {
      border-top: 1px solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: left;
      z-index: 1;
    }
    .reach-radius {
      background-color: rgba(255, 0, 0, 0.04);
      display: inline-block;
      position: absolute;
      pointer-events: none;
      left: 0px;
      transform-origin: center left;
    }
    </style>
    
    <!-- base -->
    <div class="base dot" style$="left: [[coords1.transverseBaseX]]px; top: [[coords1.transverseBaseY]]px;">
      <div class="leg" style$="transform: rotate([[angles1]]deg); width: [[misc1.transverseLegLength]]px;"></div>
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="invalid-range" style$="height: [[impossibleRange]]px; width: [[impossibleRange]]px; transform: translate(-50%, -50%) rotateZ(-45deg) rotate([[baseCoxaAngle1]]deg);"></div>
      </template>
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reach-radius" style$="[[computeReachRadius(misc1.transverseReachRadius, baseCoxaAngle1)]]"></div>
      </template>
    </div>
    <div class="base dot" style$="left: [[coords2.transverseBaseX]]px; top: [[coords2.transverseBaseY]]px;">
      <div class="leg" style$="transform: rotate([[angles2]]deg); width: [[misc2.transverseLegLength]]px;"></div>
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="invalid-range" style$="height: [[impossibleRange]]px; width: [[impossibleRange]]px; transform: translate(-50%, -50%) rotateZ(-45deg) rotate([[baseCoxaAngle2]]deg);"></div>
      </template>
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reach-radius" style$="[[computeReachRadius(misc2.transverseReachRadius, baseCoxaAngle2)]]"></div>
      </template>
    </div>
    <div class="base dot" style$="left: [[coords3.transverseBaseX]]px; top: [[coords3.transverseBaseY]]px;">
      <div class="leg" style$="transform: rotate([[angles3]]deg); width: [[misc3.transverseLegLength]]px;"></div>
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="invalid-range" style$="height: [[impossibleRange]]px; width: [[impossibleRange]]px; transform: translate(-50%, -50%) rotateZ(-45deg) rotate([[baseCoxaAngle3]]deg);"></div>
      </template>
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reach-radius" style$="[[computeReachRadius(misc3.transverseReachRadius, baseCoxaAngle3)]]"></div>
      </template>
    </div>
    <div class="base dot" style$="left: [[coords4.transverseBaseX]]px; top: [[coords4.transverseBaseY]]px;">
      <div class="leg" style$="transform: rotate([[angles4]]deg); width: [[misc4.transverseLegLength]]px;"></div>
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="invalid-range" style$="height: [[impossibleRange]]px; width: [[impossibleRange]]px; transform: translate(-50%, -50%) rotateZ(-45deg) rotate([[baseCoxaAngle4]]deg);"></div>
      </template>
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reach-radius" style$="[[computeReachRadius(misc4.transverseReachRadius, baseCoxaAngle4)]]"></div>
      </template>
    </div>
    <div class="base dot" style$="left: [[coords5.transverseBaseX]]px; top: [[coords5.transverseBaseY]]px;">
      <div class="leg" style$="transform: rotate([[angles5]]deg); width: [[misc5.transverseLegLength]]px;"></div>
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="invalid-range" style$="height: [[impossibleRange]]px; width: [[impossibleRange]]px; transform: translate(-50%, -50%) rotateZ(-45deg) rotate([[baseCoxaAngle5]]deg);"></div>
      </template>
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reach-radius" style$="[[computeReachRadius(misc5.transverseReachRadius, baseCoxaAngle5)]]"></div>
      </template>
    </div>
    <div class="base dot" style$="left: [[coords6.transverseBaseX]]px; top: [[coords6.transverseBaseY]]px;">
      <div class="leg" style$="transform: rotate([[angles6]]deg); width: [[misc6.transverseLegLength]]px;"></div>
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="invalid-range" style$="height: [[impossibleRange]]px; width: [[impossibleRange]]px; transform: translate(-50%, -50%) rotateZ(-45deg) rotate([[baseCoxaAngle6]]deg);"></div>
      </template>
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reach-radius" style$="[[computeReachRadius(misc6.transverseReachRadius, baseCoxaAngle6)]]"></div>
      </template>
    </div>
    
    <!-- solid movement circles -->
    <template is="dom-if" if="[[viewSettings.showSolidMovementCircle]]" restamp>
      <div class="solid-circle-center" style$="left: [[circles1.solidX]]px; top: [[circles1.solidY]]px;">
        <div class="solid-circle" style$="height: [[circles1.fluentDiameter]]px; width: [[circles1.fluentDiameter]]px;"></div>
      </div>
      <div class="solid-circle-center" style$="left: [[circles2.solidX]]px; top: [[circles2.solidY]]px;">
        <div class="solid-circle" style$="height: [[circles2.fluentDiameter]]px; width: [[circles2.fluentDiameter]]px;"></div>
      </div>
      <div class="solid-circle-center" style$="left: [[circles3.solidX]]px; top: [[circles3.solidY]]px;">
        <div class="solid-circle" style$="height: [[circles3.fluentDiameter]]px; width: [[circles3.fluentDiameter]]px;"></div>
      </div>
      <div class="solid-circle-center" style$="left: [[circles4.solidX]]px; top: [[circles4.solidY]]px;">
        <div class="solid-circle" style$="height: [[circles4.fluentDiameter]]px; width: [[circles4.fluentDiameter]]px;"></div>
      </div>
      <div class="solid-circle-center" style$="left: [[circles5.solidX]]px; top: [[circles5.solidY]]px;">
        <div class="solid-circle" style$="height: [[circles5.fluentDiameter]]px; width: [[circles5.fluentDiameter]]px;"></div>
      </div>
      <div class="solid-circle-center" style$="left: [[circles6.solidX]]px; top: [[circles6.solidY]]px;">
        <div class="solid-circle" style$="height: [[circles6.fluentDiameter]]px; width: [[circles6.fluentDiameter]]px;"></div>
      </div>
    </template>
    
    <!-- fluent transverseBaseX/Y -->
    <template is="dom-if" if="[[viewSettings.showFluentTransverseBaseXY]]" restamp>
      <div class="fluent-base dot" style$="left: [[circles1.fluentBaseX]]px; top: [[circles1.fluentBaseY]]px;"></div>
      <div class="fluent-base dot" style$="left: [[circles2.fluentBaseX]]px; top: [[circles2.fluentBaseY]]px;"></div>
      <div class="fluent-base dot" style$="left: [[circles3.fluentBaseX]]px; top: [[circles3.fluentBaseY]]px;"></div>
      <div class="fluent-base dot" style$="left: [[circles4.fluentBaseX]]px; top: [[circles4.fluentBaseY]]px;"></div>
      <div class="fluent-base dot" style$="left: [[circles5.fluentBaseX]]px; top: [[circles5.fluentBaseY]]px;"></div>
      <div class="fluent-base dot" style$="left: [[circles6.fluentBaseX]]px; top: [[circles6.fluentBaseY]]px;"></div>
    </template>
    
    <!-- fluent movement circles -->
    <template is="dom-if" if="[[viewSettings.showFluentMovementCircle]]" restamp>
      <div class="circle-center" style$="left: [[circles1.x]]px; top: [[circles1.y]]px;">
        <div class="circle" style$="height: [[circles1.diameter]]px; width: [[circles1.diameter]]px;"></div>
      </div>
      <div class="circle-center" style$="left: [[circles2.x]]px; top: [[circles2.y]]px;">
        <div class="circle" style$="height: [[circles2.diameter]]px; width: [[circles2.diameter]]px;"></div>
      </div>
      <div class="circle-center" style$="left: [[circles3.x]]px; top: [[circles3.y]]px;">
        <div class="circle" style$="height: [[circles3.diameter]]px; width: [[circles3.diameter]]px;"></div>
      </div>
      <div class="circle-center" style$="left: [[circles4.x]]px; top: [[circles4.y]]px;">
        <div class="circle" style$="height: [[circles4.diameter]]px; width: [[circles4.diameter]]px;"></div>
      </div>
      <div class="circle-center" style$="left: [[circles5.x]]px; top: [[circles5.y]]px;">
        <div class="circle" style$="height: [[circles5.diameter]]px; width: [[circles5.diameter]]px;"></div>
      </div>
      <div class="circle-center" style$="left: [[circles6.x]]px; top: [[circles6.y]]px;">
        <div class="circle" style$="height: [[circles6.diameter]]px; width: [[circles6.diameter]]px;"></div>
      </div>
    </template>
    
    <!-- movement pointers -->
    <template is="dom-if" if="[[viewSettings.showMovementPointer]]" restamp>
      <div class="pointer dot" style$="left: [[pointers1.x]]px; top: [[pointers1.y]]px;"></div>
      <div class="pointer dot" style$="left: [[pointers2.x]]px; top: [[pointers2.y]]px;"></div>
      <div class="pointer dot" style$="left: [[pointers3.x]]px; top: [[pointers3.y]]px;"></div>
      <div class="pointer dot" style$="left: [[pointers4.x]]px; top: [[pointers4.y]]px;"></div>
      <div class="pointer dot" style$="left: [[pointers5.x]]px; top: [[pointers5.y]]px;"></div>
      <div class="pointer dot" style$="left: [[pointers6.x]]px; top: [[pointers6.y]]px;"></div>
    </template>
    
    <!-- cursors -->
    <div class="cursor dot" style$="left: [[coords1.transverseCursorX]]px; top: [[coords1.transverseCursorY]]px;"></div>
    <div class="cursor dot" style$="left: [[coords2.transverseCursorX]]px; top: [[coords2.transverseCursorY]]px;"></div>
    <div class="cursor dot" style$="left: [[coords3.transverseCursorX]]px; top: [[coords3.transverseCursorY]]px;"></div>
    <div class="cursor dot" style$="left: [[coords4.transverseCursorX]]px; top: [[coords4.transverseCursorY]]px;"></div>
    <div class="cursor dot" style$="left: [[coords5.transverseCursorX]]px; top: [[coords5.transverseCursorY]]px;"></div>
    <div class="cursor dot" style$="left: [[coords6.transverseCursorX]]px; top: [[coords6.transverseCursorY]]px;"></div>
    
    <!-- base center point -->
    <div class="base-center-point" style$="left: [[baseCenterCoords.x]]px; top: [[baseCenterCoords.y]]px;">
      <div class="base-direction" style$="transform: translateX(-50%) rotate([[baseDirection]]deg); height: [[baseDirectionLength]]px;"></div>
    </div>
    
  </template>

  <script>
    class transverseViewUi extends ReduxMixin(Polymer.Element) {
      static get is() { return 'transverse-view-ui'; }
      static get properties() {
        return {
          baseCenterCoords: Object,
          baseDirection: Number,
          baseDirectionLength: Number,
          coords1: Object,
          coords2: Object,
          coords3: Object,
          coords4: Object,
          coords5: Object,
          coords6: Object,
          pointers1: Object,
          pointers2: Object,
          pointers3: Object,
          pointers4: Object,
          pointers5: Object,
          pointers6: Object,
          circles1: Object,
          circles2: Object,
          circles3: Object,
          circles4: Object,
          circles5: Object,
          circles6: Object,
          angles1: Number,
          angles2: Number,
          angles3: Number,
          angles4: Number,
          angles5: Number,
          angles6: Number,
          misc1: Object,
          misc2: Object,
          misc3: Object,
          misc4: Object,
          misc5: Object,
          misc6: Object,
          baseCoxaAngle1: Number,
          baseCoxaAngle2: Number,
          baseCoxaAngle3: Number,
          baseCoxaAngle4: Number,
          baseCoxaAngle5: Number,
          baseCoxaAngle6: Number,
          impossibleRange: Number,
          viewSettings: Object
        };
      }
      
      computeReachRadius(reachRadius, baseCoxaAngle) {
        var width = `width: ${reachRadius}px;`,
            height = `height: ${reachRadius * 2}px;`,
            
            transform = `transform: translate(0%, -50%) rotate(${baseCoxaAngle}deg);`,
            
            borderTopX = `border-top-right-radius: ${reachRadius * 2}px;`,
            borderBottomX = `border-bottom-right-radius: ${reachRadius * 2}px;`;
            
        return width + height + transform + borderTopX + borderBottomX;
      }

    }
    window.customElements.define(transverseViewUi.is, transverseViewUi);
  </script>
</dom-module>