<dom-module id="relative-transverse-view-ui">
  <template>
    <style>
      #base {
        height: 0px;
        width: 0px;
        position: absolute;
      }
      #base::after {
        content: '';
        background: rgba(0, 0, 255, 0.25);
        width: 20px;
        height: 20px;
        display: inline-block;
        transform: translate(-50%,-50%);
        border-radius: 100%;
      }
      .coxa {
        position: absolute;
        top: 0px;
        height: 1px;
        background-color: black;
        z-index: 1;
        pointer-events: none;
        transform-origin: left;
        left: 0px;
      }
      .reachRadius {
        background-color: rgba(255, 0, 0, 0.04);
        display: inline-block;
        position: absolute;
        pointer-events: none;
        left: 0px;
        transform-origin: center left;
      }
      .baseInvalidRange {
        background-color: white;
        border-radius: 100%;
        position: absolute;
        border: 1px solid transparent;
        pointer-events: none;
        box-sizing: border-box;
        border-right-color: red;
        border-bottom-color: red;
      }
      .movementCircleCenter {
        position: absolute;
        height: 0px;
        width: 0px;
        pointer-events: none;
      }
      .movementCircle {
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.1);
        transform: translate(-50%, -50%);
        border-radius: 100%;
      }
      .movementCircleCenter::after {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        transform: translate(-50%, -50%);
        background-color: black;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        position: absolute;
      }
      .movementPointer {
        content: '';
        background: rgba(0, 128, 0, 0.35);
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 100%;
        position: absolute;
        transform: translate(-50%,-50%);
      }
      .fluent-base-point {
        background: rgba(0, 0, 255, 0.08);
        width: 20px;
        height: 20px;
        display: inline-block;
        border-radius: 100%;
        position: absolute;
        transform: translate(-50%,-50%);
      }
    </style>
    
    <div id="base" style$="left: [[baseCoords.x]]px; top: [[baseCoords.y]]px;">
      <div class="coxa" style$="width: [[legLength]]px; transform: rotate([[coxaScreenAngle]]deg"></div>
      
      <template is="dom-if" if="[[viewSettings.showReachRadius]]" restamp>
        <div class="reachRadius" style$="[[computeReachRadius(reachRadius, baseCoxaAngle)]]"></div>
      </template>
      
      <template is="dom-if" if="[[viewSettings.showInvalidRange]]" restamp>
        <div class="baseInvalidRange" style$="[[computeBaseInvalidRange(baseCoxaAngle, impossibleRange)]]"></div>
      </template>
    </div>
    
    <template is="dom-if" if="[[viewSettings.showMovementCircle]]" restamp>
      <div class="movementCircleCenter" style$="left: [[movementCenterCoords.x]]px; top: [[movementCenterCoords.y]]px;">
        <div class="movementCircle" style$="width: [[movementCircleDiameter]]px; height: [[movementCircleDiameter]]px;"></div>
      </div>
    </template>
    
    <template is="dom-if" if="[[viewSettings.showMovementPointer]]" restamp>
      <div class="movementPointer" style$="left: [[movementPointer.x]]px; top: [[movementPointer.y]]px;"></div>
    </template>
    
    <template is="dom-if" if="[[viewSettings.showFluentTransverseBaseXY]]" restamp>
      <div class="fluent-base-point" style="left: [[fluentBasePoint.x]]px; top:[[fluentBasePoint.y]]px;"></div>
    </template>
    
    <div class="movementPointer"></div>
  </template>

  <script>
    class relativeTransverseViewUi extends ReduxMixin(Polymer.Element) {
      static get is() { return 'relative-transverse-view-ui'; }
      static get properties() {
        return {
          baseCoords: Object,
          coxaScreenAngle: Number,
          reachRadius: Number,
          impossibleRange: Number,
          legLength: Number,
          movementCenterCoords: Object,
          movementCircleDiameter: Number,
          baseCoxaAngle: Number,
          movementPointer: Object,
          fluentBasePoint: Object,
          viewSettings: Object,
          output: {
            notify: true
          }
        };
      }
      
      connectedCallback() {
        super.connectedCallback();
        
        this.$.base.onmousedown = e => {
          this.clickCoords = { x: e.pageX, y: e.pageY };

          document.onmousemove = e => {
            let diffX = this.clickCoords.x - e.pageX;
            let diffY = this.clickCoords.y - e.pageY;
            
            // the position is the same
            if (diffX === 0 && diffY === 0) return;
            
            let payload = {};
            
            // filter out 0 value
            if (diffX !== 0) {
              payload.x = diffX;
              this.clickCoords.x = e.pageX;
            }
            if (diffY !== 0) {
              payload.y = diffY;
              this.clickCoords.y = e.pageY;
            }
            
            // export data to the upper component
            this.output = payload;
            
            e.preventDefault();
            e.stopPropagation();
          };
          document.onmouseup = () => {
            document.onmousemove = null;
            document.onmouseup = null;
          }
          e.preventDefault();
          e.stopPropagation()
        }
      }
      
      computeBaseInvalidRange(baseCoxaAngle, impossibleRange) {
        var transform = `transform: translate(-50%, -50%) rotateZ(-45deg) rotate(${baseCoxaAngle}deg);`,
            
            width = `width: ${impossibleRange * 2}px;`,
            height = `height: ${impossibleRange * 2}px;`;
            
        return transform + width + height;
      }
      
      computeReachRadius(reachRadius, baseCoxaAngle) {
        var width = `width: ${reachRadius}px;`,
            height = `height: ${reachRadius * 2}px;`,
            
            transform = `transform: translate(0%, -50%) rotate(${baseCoxaAngle}deg);`,
            
            borderTopX = `border-top-right-radius: ${reachRadius * 2}px;`,
            borderBottomX = `border-bottom-right-radius: ${reachRadius * 2}px;`;
            
        return width + height + transform + borderTopX + borderBottomX;
      }

    }
    window.customElements.define(relativeTransverseViewUi.is, relativeTransverseViewUi);
  </script>
</dom-module>