body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  user-select: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  font-family: 'Open Sans', sans-serif;
}
* {
  outline: none !important;
}
.flex-column-container {
  flex: 1;
  display:flex;
  flex-direction:column;
  border-left: 1px solid #ebebeb;
}
.flex-column-container:first-of-type {
  border-left: none;
}
.flex-container {
  display: flex;
  flex: 1;
}
.flex-row-box {
  flex:1;
  position:relative;
}
.flex-row-box:first-of-type {
  border-bottom: 1px solid #ebebeb;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.status-bar {
  height: 35px;
  line-height: 35px;
  padding: 0px 125px;
  color: #777;
  background: #fafafa;
  z-index: 1;
}
.status-bar-right-holder {
  display: inline-block;
  float: right;
}
.status-bar-left-holder {
  display: inline-block;
}
.status-bar-item {
  display: inline-block;
  margin: 0px 10px;
}
.led {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  display: inline-block;
  margin: 0px 10px;
  vertical-align: middle;
}
.led.green {
  background: #2eb62e;
}
.led.red {
  background: #ff1100;
}