body, html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
* {
  outline: none !important;
}
.flex-column-container {
  flex: 1;
  display:flex;
  flex-direction:column;
  border-left: 1px dashed;
}
.flex-column-container:first-of-type {
  border-left: none;
}
.flex-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
}
.flex-row-box {
  flex:1;
  position:relative;
}
.flex-row-box:first-of-type {
  border-bottom: 1px dashed;
}