body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  user-select: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  font-family: 'Open Sans', sans-serif;
}
* {
  outline: none !important;
}
.flex-column-container {
  flex: 1;
  display:flex;
  flex-direction:column;
  border-left: 1px dotted rgba(0, 0, 0, 0.25);
}
.flex-column-container:first-of-type {
  border-left: none;
}
.flex-container {
  display: flex;
  flex: 1;
}
.flex-row-box {
  flex:1;
  position:relative;
}
.flex-row-box:first-of-type {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.status-bar {
  height: 25px;
  line-height: 25px;
  padding: 0px 100px;
  text-align: right;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
}
.status-bar-item {
  display: inline-block;
  margin: 0px 10px;
}
.led {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  display: inline-block;
  margin: 0px 10px;
  vertical-align: middle;
}
.led.green {
  background: rgba(0, 128, 0, 0.7);
}
.led.red {
  background: rgba(244, 67, 54, 0.7);
}