<dom-module id="coronal-view-ui">
  <template>
    <style>
      .cursor {
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: rgba(255, 0, 0, 0.35);
        position: absolute;
        border-radius: 100%;
        transform: translate(-50%,-50%);
      }
      .base {
        height: 10px;
        width: 10px;
        display: inline-block;
        background-color: rgba(0, 0, 255, 0.25);
        position: absolute;
        border-radius: 100%;
        transform: translate(-50%,-50%);
      }
      .femur {
        top: 50%;
        position: absolute;
        height: 1px;
        background-color: black;
        z-index: 1;
        pointer-events: none;
        transform-origin: left;
        left: 50%;
      }
      .tibia {
        top: 0px;
        position: absolute;
        height: 1px;
        background-color: black;
        z-index: 1;
        pointer-events: none;
        transform-origin: left;
        left: 100%;
      }
    </style>
    
    <!-- leg 1 -->
    <div class="base" style$="left: [[coords1.transverseBaseX]]px; top: [[coords1.sagittalBaseY]]px">
      <div class="femur" style$="transform: rotateY([[angles1.coxaScreenAngle]]deg) rotate([[angles1.femurScreenAngle]]deg); width: [[femurLength]]px">
        <div class="tibia" style$="transform: rotate([[angles1.tibiaScreenAngle]]deg); width: [[tibiaLength]]px"></div>
      </div>
    </div>
    <!-- leg 2 -->
    <div class="base" style$="left: [[coords2.transverseBaseX]]px; top: [[coords2.sagittalBaseY]]px">
      <div class="femur" style$="transform: rotateY([[angles2.coxaScreenAngle]]deg) rotate([[angles2.femurScreenAngle]]deg); width: [[femurLength]]px">
        <div class="tibia" style$="transform: rotate([[angles2.tibiaScreenAngle]]deg); width: [[tibiaLength]]px"></div>
      </div>
    </div>
    <!-- leg 3 -->
    <div class="base" style$="left: [[coords3.transverseBaseX]]px; top: [[coords3.sagittalBaseY]]px">
      <div class="femur" style$="transform: rotateY([[angles3.coxaScreenAngle]]deg) rotate([[angles3.femurScreenAngle]]deg); width: [[femurLength]]px">
        <div class="tibia" style$="transform: rotate([[angles3.tibiaScreenAngle]]deg); width: [[tibiaLength]]px"></div>
      </div>
    </div>
    <!-- leg 4 -->
    <div class="base" style$="left: [[coords4.transverseBaseX]]px; top: [[coords4.sagittalBaseY]]px">
      <div class="femur" style$="transform: rotateY([[angles4.coxaScreenAngle]]deg) rotate([[angles4.femurScreenAngle]]deg); width: [[femurLength]]px">
        <div class="tibia" style$="transform: rotate([[angles4.tibiaScreenAngle]]deg); width: [[tibiaLength]]px"></div>
      </div>
    </div>
    <!-- leg 5 -->
    <div class="base" style$="left: [[coords5.transverseBaseX]]px; top: [[coords5.sagittalBaseY]]px">
      <div class="femur" style$="transform: rotateY([[angles5.coxaScreenAngle]]deg) rotate([[angles5.femurScreenAngle]]deg); width: [[femurLength]]px">
        <div class="tibia" style$="transform: rotate([[angles5.tibiaScreenAngle]]deg); width: [[tibiaLength]]px"></div>
      </div>
    </div>
    <!-- leg 6 -->
    <div class="base" style$="left: [[coords6.transverseBaseX]]px; top: [[coords6.sagittalBaseY]]px">
      <div class="femur" style$="transform: rotateY([[angles6.coxaScreenAngle]]deg) rotate([[angles6.femurScreenAngle]]deg); width: [[femurLength]]px">
        <div class="tibia" style$="transform: rotate([[angles6.tibiaScreenAngle]]deg); width: [[tibiaLength]]px"></div>
      </div>
    </div>
    
    <!-- cursor 1 -->
    <div class="cursor" style$="left: [[coords1.transverseCursorX]]px; top: [[coords1.sagittalCursorY]]px;"></div>
    <!-- cursor 2 -->
    <div class="cursor" style$="left: [[coords2.transverseCursorX]]px; top: [[coords2.sagittalCursorY]]px;"></div>
    <!-- cursor 3 -->
    <div class="cursor" style$="left: [[coords3.transverseCursorX]]px; top: [[coords3.sagittalCursorY]]px;"></div>
    <!-- cursor 4 -->
    <div class="cursor" style$="left: [[coords4.transverseCursorX]]px; top: [[coords4.sagittalCursorY]]px;"></div>
    <!-- cursor 5 -->
    <div class="cursor" style$="left: [[coords5.transverseCursorX]]px; top: [[coords5.sagittalCursorY]]px;"></div>
    <!-- cursor 6 -->
    <div class="cursor" style$="left: [[coords6.transverseCursorX]]px; top: [[coords6.sagittalCursorY]]px;"></div>
  </template>

  <script>
    class coronalViewUi extends ReduxMixin(Polymer.Element) {
      static get is() { return 'coronal-view-ui'; }
      static get properties() {
        return {
          coords1: Object,
          coords2: Object,
          coords3: Object,
          coords4: Object,
          coords5: Object,
          coords6: Object,
          angles1: Object,
          angles2: Object,
          angles3: Object,
          angles4: Object,
          angles5: Object,
          angles6: Object,
          femurLength: Number,
          tibiaLength: Number
        };
      }
    }
    window.customElements.define(coronalViewUi.is, coronalViewUi);
  </script>
</dom-module>